In [ ]:
import pandas as pd
import numpy as np
import pickle
from SEQLinkage.linkage import *

In [ ]:
Tuntfam=pd.read_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/Tun.tfam',sep=' ',header=None)

In [ ]:
Tuntfam=Tuntfam.sort_values([0,1])

In [ ]:
np.repeat(np.array(Tuntfam.index)*2,2)+np.array([0,1]*132)+4

array([  8,   9,  10,  11,  12,  13,  16,  17,   6,   7,  26,  27,  14,
        15,  24,  25,  30,  31,  20,  21,  18,  19,  22,  23,   4,   5,
        28,  29,  38,  39,  34,  35,  32,  33,  42,  43,  44,  45,  40,
        41,  46,  47,  36,  37,  64,  65,  62,  63,  66,  67,  68,  69,
        72,  73,  60,  61,  58,  59,  70,  71,  56,  57,  54,  55,  52,
        53,  48,  49,  50,  51,  90,  91,  88,  89,  86,  87,  94,  95,
        96,  97,  92,  93,  84,  85,  82,  83,  80,  81,  78,  79,  74,
        75,  76,  77, 126, 127, 118, 119, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 116, 117, 142, 143, 144, 145, 114,
       115, 140, 141, 122, 123, 134, 135, 124, 125, 128, 129, 130, 131,
       132, 133, 120, 121, 110, 111, 136, 137, 138, 139, 146, 147, 148,
       149, 104, 105, 112, 113, 108, 109, 106, 107, 102, 103,  98,  99,
       100, 101, 198, 199, 172, 173, 216, 217, 196, 197, 202, 203, 176,
       177, 208, 209, 184, 185, 192, 193, 212, 213, 214, 215, 190, 191,
       188, 189, 186, 187, 178, 179, 210, 211, 206, 207, 204, 205, 182,
       183, 174, 175, 180, 181, 170, 171, 200, 201, 194, 195, 168, 169,
       166, 167, 162, 163, 164, 165, 258, 259, 256, 257, 252, 253, 254,
       255, 250, 251, 260, 261, 262, 263, 264, 265, 266, 267, 246, 247,
       248, 249, 238, 239, 236, 237, 218, 219, 220, 221, 230, 231, 222,
       223, 234, 235, 232, 233, 242, 243, 244, 245, 226, 227, 228, 229,
       240, 241, 224, 225])

In [ ]:
Tuntfam.to_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/testTun.tfam',header=False,index=False,sep='\t')

In [ ]:
Tuntfam[5].value_counts()

1    89
2    39
0     4
Name: 5, dtype: int64

In [ ]:
Tuntped=Tuntped.loc[:,[0,1,2,3]+list(np.repeat(np.array(Tuntfam.index)*2,2)+np.array([0,1]*132)+4)]

In [ ]:
Tuntped=pd.read_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/Tun.tped',sep=' ',header=None)

In [ ]:
Tuntped.to_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/testTun.tped',header=False,index=False,sep='\t')

In [ ]:
testtfam=pd.read_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/pseudomarker-sampledata/test_f10.tfam',sep=' ',header=None)

In [ ]:
testtfam[5][testtfam[5]==-9]=0

/tmp/2303605.1.high_mem.q/ipykernel_7923/7369009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testtfam[5][testtfam[5]==-9]=0

In [ ]:
testtfam[5].value_counts()

2    1900
0    1042
1     957
Name: 5, dtype: int64

In [ ]:
testtfam.to_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/pseudomarker-sampledata/test_f10_new.tfam',header=False,index=False,sep='\t')

In [ ]:
Tuntped=pd.read_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/Tun.tped',sep=' ',header=None)

In [ ]:
Tuntped

,0,1,2,3,4,5,6,7,8,9,...,258,259,260,261,262,263,264,265,266,267
0,1,rs7530511,0,67457975,0,0,0,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1,1,rs11209026,0,67478546,0,0,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,1,rs12131065,0,67541594,0,0,2,2,2,2,...,1,1,1,2,1,1,1,2,1,1
3,1,rs12402809,0,86278155,0,0,2,2,2,2,...,1,2,2,2,1,2,2,2,2,2
4,1,rs12743345,0,86282584,0,0,2,2,1,2,...,1,1,2,2,1,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,20,rs6076542,0,3633997,0,0,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
91,20,rs1124057,0,11999590,0,0,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
92,20,rs495337,0,47955737,0,0,1,2,1,2,...,2,2,2,2,1,2,2,2,2,2
93,21,rs2836754,0,39213610,0,0,2,2,1,2,...,1,2,1,2,1,2,2,2,2,2
94,25,rs4933045,0,214201,0,0,2,2,2,2,...,1,1,1,2,1,1,1,2,2,2

In [ ]:
testtped=pd.read_csv('/home/yh3455/Github/linkage/pseudomarker-2.0-linux/pseudomarker-sampledata/test_f10.tped',sep=' ',header=None)

In [ ]:
testtped

,0,1,2,3,4,5,6,7,8,9,...,7792,7793,7794,7795,7796,7797,7798,7799,7800,7801
0,19,chr19:44105413:C:G,0,44105413,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,19,chr19:44105454:A:C,0,44105454,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,19,chr19:44105534:T:TTTTTA,0,44105534,1,1,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
3,19,chr19:44105571:T:A,0,44105571,1,1,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
4,19,chr19:44105621:G:A,0,44105621,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,19,chr19:44105679:C:T,0,44105679,1,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6,19,chr19:44105693:C:G,0,44105693,1,1,1,2,1,2,...,0,0,0,0,0,0,0,0,0,0
7,19,chr19:44105746:C:G,0,44105746,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8,19,chr19:44105751:A:G,0,44105751,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,19,chr19:44105765:G:A,0,44105765,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0